UserControls/CompanyStructure.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="DataStructure"
    targetNamespace="http://tempuri.org/DataStructure.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/DataStructure.xsd"
    xmlns:mstns="http://tempuri.org/DataStructure.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="MyApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Name"/>
        <xs:element type="xs:string" name="URL"/>        
      </xs:sequence>
    </xs:complexType>
  </xs:element>  
</xs:schema>
